services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /volume1/docker/arr/son_config:/config
      - /volume1/tv:/tv:rw
      - /volume1/docker/qbit/data/complete:/data/complete
      - /volume1/nas1/TV Shows:/tv1:ro
    ports:
      - 8989:8989
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /volume1/docker/arr/rad_config:/config
      - /volume1/movies:/movies:rw
      - /volume1/docker/qbit/data/complete:/data/complete
      - /volume1/nas1/Movies:/movies1:ro
    ports:
      - 7878:7878
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /volume1/docker/arr/prow_config:/config
    ports:
      - 9696:9696
    restart: unless-stopped
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /volume1/docker/arr/baz_config:/config
      - /volume1/movies:/movies:rw
      - /volume1/tv:/tv:rw
    ports:
      - 6767:6767
    restart: unless-stopped